<!--
  Generated template for the CapsulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Capsule</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid *ngIf='capsule'>
      <ion-item style='padding-left: 0px;'>
        <ion-row>
          <ion-col col-6>
            <p>Name:&nbsp;</p>
            <h2>{{ capsule.name }}</h2>
          </ion-col>
          <ion-col col-6>
            <p>Status:&nbsp;&nbsp;</p>
            <ion-icon *ngIf='capsule.active == false' name="close-circle" size="large" color="danger" style="float: right;"></ion-icon>
            <ion-icon *ngIf='capsule.active == true' name="checkmark-circle" size="large" color="secondary" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style='padding-left: 0px;'>
        <ion-row>
          <ion-col col-6>
            <p>Number of crew:&nbsp;</p>
            <h2>{{ capsule.crew_capacity + " member(s) "}}</h2>
          </ion-col>
          <ion-col col-6>
            <p>Orbit duration:&nbsp;&nbsp;</p>
            <h2>{{ capsule.orbit_duration_yr + " year(s) " }}</h2>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style='padding-left: 0px;'>
        <ion-row>
          <ion-col col-12>
            <h2>Informations:</h2>
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item style='padding-left: 0px;'>
        <ion-row>
            <ion-col col-12>
              <p>
                <b>Launch Payload Mass:</b>
              </p>
              <ion-badge color="darkBlue">{{ capsule.launch_payload_mass.kg + " kg - " + capsule.launch_payload_mass.lb + " lb"}}</ion-badge>                  
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
              <p>
                <b>Return Payload Mass:</b>
              </p>
              <ion-badge color="darkBlue">{{ capsule.return_payload_mass.kg + " kg - " + capsule.return_payload_mass.lb + " lb"}}</ion-badge>                  
            </ion-col>
        </ion-row>
      </ion-item>
      
    </ion-grid>
</ion-content>
