<!--
  Generated template for the RocketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- HEADER -->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="rocket != null">{{rocket.name}}</ion-title>
  </ion-navbar>

</ion-header>

<!-- CONTENT -->
<ion-content padding *ngIf="rocket != null">

  <!-- Grid -->
  <ion-grid>

    <!-- FIRST ITEM -->
    <!-- Grid row -->
    <ion-row>
      <!-- Grid column -->
      <ion-col col-12>
        <img src="{{'../../assets/imgs/' + img}}" />
      </ion-col>
    </ion-row>
    <!-- END OF FIRST ITEM -->

    <!-- SECOND ITEM -->
    <ion-item style="padding-left: 0px; padding-right: 0px;">
      <ion-row style='width: 100%;'>
        <!-- Grid column -->
        <ion-col col-8>
          <p>Operated by :
            <b style="color: #000000;">{{rocket.company}}</b>
          </p>
        </ion-col>
        <!-- Grid column -->
        <ion-col col-2>
          <p>
            Status:
          </p>
        </ion-col>
        <!-- Grid column -->
        <ion-col col-2>
          <ion-icon *ngIf='rocket.active == false' md="md-close-circle" size="large" color="danger" style="float: right;"></ion-icon>
          <ion-icon *ngIf='rocket.active == true' md="md-checkmark-circle" size="large" color="secondary" style="float: right;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- END OF SECOND ITEM -->

    <!-- THIRD ITEM -->
    <!-- Grid row -->
    <ion-row>
      <!-- Grid column -->
      <ion-col col-12>
        <ion-item style="padding-left: 0px;">
          <!-- Grid row -->
          <ion-row>
            <p>Details :</p>
            <br/>
          </ion-row>
          <!-- Grid row -->
          <ion-row>
            <p text-wrap style="color: #000000;">{{rocket.description}}</p>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- END OF THIRD ITEM -->

    <!-- FOURTH ITEM -->
    <!-- Grid row -->
    <ion-row>
      <!-- Grid column -->
      <ion-col col-6>
        <ion-item style="padding-left: 0px;">
          <p>First flight:</p>
          <p>{{rocket.first_flight | date : "dd/MM/yyyy"}}</p>
        </ion-item>
      </ion-col>
      <!-- Grid column -->
      <ion-col col-6>
        <ion-item style="padding-left: 0px;">
          <p>Cost per launch:</p>
          <p>{{rocket.cost_per_launch}}$</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- END OF FOURTH ITEM -->

    <!-- FIFTH ITEM -->
    <ion-item style="padding-left: 0px;">
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <h2>Rocket Information</h2>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <p>
            <b>Diameter:</b>
            <ion-badge>{{ rocket.diameter.meters + " meters" }}</ion-badge>
            <ion-badge>{{ rocket.diameter.feet + " feet" }}</ion-badge>
          </p>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <p>
            <b>Mass:</b>
            <ion-badge>{{ rocket.mass.kg + " kg" }}</ion-badge>
            <ion-badge>{{ rocket.mass.lb + " lb" }}</ion-badge>
          </p>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <p>
            <b>Height:</b>
            <ion-badge>{{ rocket.height.meters + " meters" }}</ion-badge>
            <ion-badge>{{ rocket.height.feet + " feet" }}</ion-badge>
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- END OF FIFTH ITEM -->

    <!-- SIXTH ITEM -->
    <ion-item style="padding-left: 0px;">
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <h2>Engine Information</h2>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Type:</b>
          </p>
          <h6>{{ rocket.engines.type }} </h6>
        </ion-col>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Version:</b>
          </p>
          <h6>{{ rocket.engines.version }} </h6>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Layout:</b>
          </p>
          <h6>{{ rocket.engines.layout }} </h6>
        </ion-col>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Number:</b>
          </p>
          <h6>{{ rocket.engines.number }} </h6>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Propellant 1:</b>
          </p>
          <h6>{{ rocket.engines.propellant_1 }} </h6>
        </ion-col>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Propellant 2:</b>
          </p>
          <h6>{{ rocket.engines.propellant_2 }} </h6>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <p>
            <b>Success Rate:</b>
            {{ rocket.success_rate_pct + "%" }}
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- END OF SIXTH ITEM -->

    <!-- SEVENTH ITEM -->
    <ion-item style="padding-left: 0px;">
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <h2>Seconde Stage Information</h2>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Burn Time:</b>
          </p>
          <h6>{{ rocket.second_stage.burn_time_sec }} </h6>
        </ion-col>
        <!-- Grid column -->
        <ion-col col-6>
          <p>
            <b>Fuel Amount:</b>
          </p>
          <h6>{{ rocket.second_stage.fuel_amount_tons + " tons" }} </h6>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- END OF SEVENTH ITEM -->

  </ion-grid>
</ion-content>