page-launch-list {

    .bold_element {
        font-weight: bold;
    }

    .badge {
        padding: 5px;
        margin: 5px;
        color: #FFFFFF;
        border: solid 1px;
    }

    .col_text {
        display: flex;
        align-items: center;
    }

    .div_text p {
        float: right;
    }

    .card_counter {
        background-color: #53ACA6;
    }

    .title_uplaunch {
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
    }

    .first_title {
        font-style: italic;
        text-align: center;
    }

    .timer_icon {
        vertical-align: middle;
        margin-right: 5px;
    }
}
