page-launch-list {

    .bold_element {
        font-weight: bold;
    }

    .badge {
        padding: 5px;
        margin: 5px;
        //background-color: #191C1F;
        color: #FFFFFF;
        border: solid 1px;
    }

    .col_text {
        display: flex;
        align-items: center;
    }

    .div_text p {
        float: right;
    }

}
