page-launch-list {

    .bold_element {
        font-weight: bold;
    }

    .badge {
        padding: 5px;
        margin: 5px;
        background-color: transparent;
        color: gray;
        border: solid 1px;
    }

}
