<!--
  Generated template for the LaunchpadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Launchpad</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid *ngIf='launchpad'>
    <ion-item style='padding-left: 0px;'>
      <ion-row>
        <ion-col col-12>
          <p>Name:&nbsp;</p>
          <h2>{{ launchpad.location.name }}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item style='padding-left: 0px;'>
      <ion-row>
        <ion-col col-12>
          <ion-row>
            <p>Fullname:&nbsp;</p>
            <h2 text-wrap>{{ launchpad.full_name }}</h2>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item style='padding-left: 0px;'>
      <ion-row>
        <ion-col col-6>
          <ion-row>
            <ion-icon name="pin" color="darkBlue"></ion-icon>
            <h2 text-wrap>{{ launchpad.location.region }}</h2>
          </ion-row>
        </ion-col>
        <ion-col col-6>
          <ion-row>
            <h2>Status:&nbsp;&nbsp;</h2>
            <ion-icon *ngIf='launchpad.status == "retired"' name="close-circle" size="large" color="danger" style="float: right;"></ion-icon>
            <ion-icon *ngIf='launchpad.status == "active"' name="checkmark-circle" size="large" color="secondary" style="float: right;"></ion-icon>
            <ion-icon *ngIf='launchpad.status == "under construction"' name="construct" size="large" color="primary" style="float: right;"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-row>
      <ion-col col-6>
        <ion-item style='padding-left: 0px;'>
          <p>
            <b>Latitude:</b>
          </p>
          <ion-badge color="darkBlue">{{ launchpad.location.latitude }}</ion-badge>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item style='padding-left: 0px;'>
          <p>
            <b>Longitude:</b>
          </p>
          <ion-badge color="darkBlue">{{ launchpad.location.longitude }}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item style='padding-left: 0px;'>
      <p>Details:</p>
      <h2 text-wrap>{{ launchpad.details }}</h2>
    </ion-item>

    <ion-item *ngIf='launchpad.vehicles_launched'>
        <ion-row>
            <ion-col col-12>
              <h2>Vehicles Launched:</h2>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-list *ngFor="let r of launchpad.vehicles_launched">
                <ion-grid>
                  <p>
                    {{ r }}
                  </p>
                </ion-grid>
            </ion-list>
        </ion-row>
    </ion-item>

  </ion-grid>
</ion-content>