<!--
  Generated template for the LaunchpadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- HEADER -->
<ion-header>

  <ion-navbar>
    <ion-title>Launchpad</ion-title>
  </ion-navbar>

</ion-header>

<!-- CONTENT -->
<ion-content padding>

  <!-- Grid -->
  <ion-grid *ngIf='launchpad'>

    <!-- FIRST ITEM -->
    <ion-item style='padding-left: 0px;'>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <p>Name:&nbsp;</p>
          <h2>{{ launchpad.location.name }}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- END OF FIRST ITEM -->

    <!-- SECOND ITEM -->
    <ion-item style='padding-left: 0px;'>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <ion-row>
            <p>Fullname:&nbsp;</p>
            <h2 text-wrap>{{ launchpad.full_name }}</h2>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- END OF SECOND ITEM -->

    <!-- THIRD ITEM -->
    <ion-item style='padding-left: 0px;'>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-6>
          <!-- Grid row -->
          <ion-row>
            <ion-icon md="md-pin" color="darkBlue"></ion-icon>
            <h2 text-wrap>{{ launchpad.location.region }}</h2>
          </ion-row>
        </ion-col>
        <!-- Grid column -->
        <ion-col col-6>
          <!-- Grid row -->
          <ion-row>
            <h2>Status:&nbsp;&nbsp;</h2>
            <ion-icon *ngIf='launchpad.status == "retired"' md="md-close-circle" size="large" color="danger" style="float: right;"></ion-icon>
            <ion-icon *ngIf='launchpad.status == "active"' md="md-checkmark-circle" size="large" color="secondary" style="float: right;"></ion-icon>
            <ion-icon *ngIf='launchpad.status == "under construction"' md="md-construct" size="large" color="primary" style="float: right;"></ion-icon>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
    <!-- END OF THIRD ITEM -->

    <!-- FOURTH ITEM -->
    <!-- Grid row -->
    <ion-row>
      <!-- Grid column -->
      <ion-col col-6>
        <ion-item style='padding-left: 0px;'>
          <p>
            <b>Latitude:</b>
          </p>
          <ion-badge color="darkBlue">{{ launchpad.location.latitude }}</ion-badge>
        </ion-item>
      </ion-col>
      <!-- Grid column -->
      <ion-col col-6>
        <ion-item style='padding-left: 0px;'>
          <p>
            <b>Longitude:</b>
          </p>
          <ion-badge color="darkBlue">{{ launchpad.location.longitude }}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- END OF FOURTH ITEM -->

    <!-- FIFTH ITEM -->
    <ion-item style='padding-left: 0px;'>
      <p>Details:</p>
      <h2 text-wrap>{{ launchpad.details }}</h2>
    </ion-item>
    <!-- END OF FIFTH ITEM -->

    <!-- SIXTH ITEM -->
    <ion-item *ngIf='launchpad.vehicles_launched'>
      <!-- Grid row -->
      <ion-row>
        <!-- Grid column -->
        <ion-col col-12>
          <h2>Vehicles Launched:</h2>
        </ion-col>
      </ion-row>
      <!-- Grid row -->
      <ion-row>
        <!-- LIST OF ROCKETS -->
        <ion-list *ngFor="let r of launchpad.vehicles_launched">
          <ion-grid>
            <p>
              {{ r }}
            </p>
          </ion-grid>
        </ion-list>
      </ion-row>
    </ion-item>
    <!-- END OF SIXTH ITEM -->

  </ion-grid>
</ion-content>