<!--
  Generated template for the LaunchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="launch">Launch</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="launch" padding>
  <ion-item *ngFor="let payload of launch.rocket.second_stage.payloads" style='padding-left: 0px'>
    <ion-grid>
      <ion-row>
        <ion-row style="width:100%">
          <ion-col col-5 *ngIf="launch.links.mission_patch != null" class="img_container">
            <img [src]="launch.links.mission_patch" />
          </ion-col>
          <ion-col col-7 *ngIf="launch.links.mission_patch != null">
            <ion-row class="mission_name">
              <h1 text-wrap class="bold_element">{{launch.mission_name}}</h1>
            </ion-row>
            <ion-row class="mission_name">
              <h2 text-wrap class="bold_element">{{launch.launch_date_utc | date : "dd/MM/yyyy"}}</h2>
            </ion-row>
          </ion-col>
          <ion-col col-12 *ngIf="launch.links.mission_patch == null">
            <ion-row style="width: 100%;" class="mission_name">
              <h1 text-wrap class="bold_element">{{launch.mission_name}}</h1>
            </ion-row>
            <ion-row style="width: 100%;" class="mission_name">
              <h2 text-wrap class="bold_element">{{launch.launch_date_utc | date : "dd/MM/yyyy"}}</h2>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>
            <p text-wrap class="infos">Client: {{payload.customers}}</p>
            <p text-wrap class="infos">Site: {{launch.launch_site.site_name}}</p>
            <p text-wrap class="infos">Rocket: {{launch.rocket.rocket_name}}</p>
          </ion-col>
          <ion-col col-4 text-wrap>
            <ion-badge class="badge" color="primary">{{payload.orbit}}</ion-badge>
            <ion-badge class="badge" color="primary">{{payload.payload_type}}</ion-badge>
            <ion-badge class="badge" [color]="launch.launch_success ? 'secondary' : 'danger'">{{launch.launch_success ? 'Success' : 'Fail'}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item *ngIf="launch.details != null" style='padding-left: 0px'>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h2>Details:</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p text-wrap>{{launch.details}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item style='padding-left: 0px'>
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <h2>Useful links:</h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 class="icons">
          <ion-icon name="logo-youtube" style='margin-right: auto; margin-left: auto;'></ion-icon>
        </ion-col>
        <ion-col col-10 class="links">
          <h3>
            <a href="{{ launch.links.video_link }}" target="_blank">{{ launch.mission_name }} Vidéo</a>
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 class="icons">
          <ion-icon name="book" style='margin-right: auto; margin-left: auto;'></ion-icon>
        </ion-col>
        <ion-col col-10 class="links">
          <h3>
            <a href="{{ launch.links.article_link }}" target="_blank">{{ launch.mission_name }} Article</a>
          </h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2 class="icons">
          <ion-icon name="book" style='margin-right: auto; margin-left: auto;'></ion-icon>
        </ion-col>
        <ion-col col-10 class="links">
          <h3>
            <a href="{{ launch.links.wikipedia }}" target="_blank">{{ launch.mission_name }} Wiki</a>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>