page-launch {

    .bold_element {
        font-weight: bold;
    }

    .badge {
        padding: 5px;
        margin: 5px;
        background-color: #191C1F;
        color: #FFFFFF;
        border: solid 1px;
    }

    .img_container {
        margin-bottom: 5%;
    }


}
