page-latest-launch {

    .bold_element {
        font-weight: bold;
    }

    .mission_name {
        margin-bottom: 5%;
        float: right !important;
        clear: right ;
    }

    .infos {
        margin-bottom: 8%;
    }

    .badge {
        padding: 5px;
        color: #FFFFFF;
        border: solid 1px;
    }

    .img_container {
        margin-bottom: 5%;
    }

    .icons {
        display: flex;
    }

    .links {
        display: flex;
        align-items: center;
    }

    .details_item {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}
