<!--
  Generated template for the CapsuleListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Capsules</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let capsule of capsules" (click)="goToDetails(capsule)">
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <b>
              {{ capsule.name }}
            </b>
          </ion-col>
          <ion-col col-6>
            <p>Status:&nbsp;&nbsp;
              <ion-icon *ngIf='capsule.active == false' name="close-circle" size="large" color="danger" style="float: right;"></ion-icon>
              <ion-icon *ngIf='capsule.active == true' name="checkmark-circle" size="large" color="secondary" style="float: right;"></ion-icon>
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h6>
              {{ "Type: " + capsule.type }}
            </h6>
          </ion-col>
          <ion-col col-6>
            <h6>
              {{ "Orbit since " + capsule.orbit_duration_yr + "y" }}
            </h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </button>
  </ion-list>
</ion-content>